<%= show_for @user do |s| %>
  <%= s.attribute :login %>
  <%= s.attribute :name %>
  <%= s.attribute :email %>
  <%= image_tag @user.avatar.url(:thumb) %>
<% end %>

<div class="form-actions">
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %> |
  <%= link_to 'Back', users_path, :class => 'btn' %>
</div>
