<%= simple_form_for(@item, :wrapper => :inline) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :deleted %>
  </div>

  <div class="actions">
    <%= f.button :submit, :name => 'back_button', :value => t("helpers.submit.previous") %>
    <%= f.button :submit, :value => t("helpers.submit.next") %>
  </div>
<% end %>
