<div class="row">
  <div class="span9">
    <div class="row">
      <ul class="thumbnails span2">
      <% @item.photos.each do |p| %>
        <li><a href="#" class="thumbnail"><%= image_tag(p.data.url(:thumb)) %></a></li>
      <% end %>
      </ul>
      <div class="span7">
        <%= image_tag(@item.represent.data.url) if @item.represent %>
      </div>
    </div>
  </div>
  <div class="span3">info</div>
</div>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category.try(:name) %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Represent image:</b>
  <%= @item.represent_image %>
</p>
<%= image_tag(@item.represent.data.url(:thumb)) if @item.represent %>
<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Location:</b>
  <%= @item.location %>
</p>

<p>
  <b>Contact:</b>
  <%= @item.contact %>
</p>

<p>
  <b>Contact allow:</b>
  <%= @item.contact_allow %>
</p>

<p>
  <b>Shipping cost:</b>
  <%= @item.shipping_cost %>
</p>

<p>
  <b>Shipping method:</b>
  <%= @item.shipping_method %>
</p>

<p>
  <b>Deleted:</b>
  <%= @item.deleted %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
