<%= simple_form_for(@photo, :url => photos_path(:format => :js), :html => { :multipart => true, :target => 'upload_frame'}, :wrapper => :inline) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :description %>
    <%= f.input :data, :as => :file %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

<iframe id="upload_frame" name="upload_frame" src="about:blank"></iframe>
