<%= simple_form_for(@photo, :url => photos_path(:format => :js), :html => { :multipart => true, :target => 'upload_frame', :class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :description %>
    <%= f.input :data, :as => :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<iframe id="upload_frame" name="upload_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
