<%= show_for @photo do |s| %>
  <%= s.attribute :description %>
  <%= s.attribute :attachable_id %>
  <%= image_tag @photo.data.url(:thumb) %>
<% end %>

<div class="form-actions">
  <%= link_to 'Edit', edit_photo_path(@photo), :class=>"btn" %>
  <%= link_to 'Back', photos_path, :class=>"btn" %>
</div>
