<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Planet" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js" type="text/javascript"></script>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= render :partial => 'common/menu' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <%= render :partial => 'common/header' %>
        </div>
        <div class="row">
          <div class="span12">
            <%= render :partial => 'common/flashes' %>
            <%= yield %>
          </div>
        </div>
        <footer>
        <%= render :partial => 'common/footer' %>
        </footer>
      </div>
    </div>
    <div id="_global_modal"  class="modal hide"></div>
  </body>
</html>
